.App {
  text-align: center;
  
}
.voter{
  display:flex;
  justify-content: space-around;
  
  color:black; 
}
.nav{
  display:flex;
  justify-content: space-around;
  border-radius: 5%;
  text-align: center;
  color: white;
}
.list{
  list-style: none;
  text-align: center;
  display:inline-flex;
  width: 50%;

  flex-direction:column;
  flex-wrap: inherit;
   
}

 .B{
  background-color:rgb(9, 9, 107) ;
  font-size: 30px;
  margin-bottom: 10px;
  width:350px;
  height: 120px;
  font-style: normal;
  color: white;
 
  display: inline-block;
  border-radius: 10%;
  justify-content: space-around;
  transition: all 0.5s ;
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

.B span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.B span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
 .B:hover{
  background-color: rgb(70, 201, 70) ;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 
.B:hover span {
  padding-right: 25px;
}
.B:hover span:after {
  opacity: 1;
  right: 0;
}
table{
  background-color:white;
  color:black;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  
  border: solid black 1px;
  
  border-collapse:collapse;
  width:80%;
}

td{
  border: 1px solid black;
  
}

th { 
  
  height: 70px;
  background-color: rgb(14, 104, 104);
    color: #ffffff;
    font-size: larger;
    border-top:none
}


 
  


tr:hover {background-color: rgba(169, 231, 205, 0.568);}

tr:nth-child(even) {background-color:#f3f3f3}
tr{
  height: 40px;
}
.heading{
  color:white;
  font-size: 50px;
  font-family: -apple-system ;
  
}
.h{
  color: white;
  font-family:serif;
}
.sub
{
  margin-top: 20px;
  height:50px;
  width: 100px;
  border-radius: 4px;
  color:white;
  background-color: rgb(62, 204, 62);
  font-size: larger;
}
.instructions
{
  align-content: left;
  align-items: left;
  display:flex-start;
  font-size:larger;
}

label{
  display: inline-block;
  width: 140px;
  text-align: right;
  color: white;
}

input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 10px;
  border-radius: 5px;
}



body {background-color:rgb(51, 51, 51);}